h1 {
    color: #48C295;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    max-width: 1800px;

    margin: auto;
    padding: 28px 0px;
}

.experience {
    width: 84%;
    background-color: #40414A;

    display: flex;
    flex-direction: row;

    border-radius: 12px;

    padding: 10px;
}

.experience-describe {
    color: #E9E9E9;
    display: block;
    width: 70%;
}

.experience-describe-header {
    width: 91%;
    height: 90px;
    padding: 1%;
    margin-left: 8%;
}

.experience-describe-text {
    width: 90%;
    margin: auto;
}

.experience-describe-header h3 {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
}

.experience-describe-header h5 {
    font-size: 1rem;
}
.experience-buttons {
    width: 22%;
    display: block;
    flex-direction: column;
    align-items: self-start;

    padding-right: 1%;

    border-right: 2px solid #A0A0A0;
}

.btn-exp {
    background: none;
    color: #E9E9E9;
    /* border: 1px solid #E9E9E9; */

    width: 98%;
    text-align: start;

    font-size: 0.8rem;

    p {
        margin: 0;
        padding: 0;
    }
}

.exp-btn-time {
    font-weight: 200;
    font-style: italic;
}

.exp-card-text {
    background: none;

    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;

    border: none;
}